<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
</head>
<body>
    <div style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; color: #0b0c0c">
        <p>Hola {{name}}, </p>
        <p>Te enviamos este correo ya que recibimos una petición de recuperación de cuenta en nuestro sitio web. Si no fuiste vos quien pidió reestablecer la contraseña de tu cuenta, por favor desestimá este corre.
         Si quieres recuperar tu contraseña por favor hacé click en el siguiente link:</p>
        <blockquote style="border-left: 10px solid #b1b4b6; padding: 15px 0 0.1px 15px; font-size: 19px; line-height: 15px">
            <p><a href="{{link}}">Reestablecer contraseña</a></p>
        </blockquote>
        <p>Muchas gracias !</p>
        <p>Terra Mas SRL</p>
    </div>
</body>
</html> 